<%= render partial: "shared/center_col_header" %>

  <h3>Enter a date range</h3>
  <%= form_tag do %>
    <%= text_field_tag :user_name, placeholder: "User name" %>
    <%= text_field_tag :date_start, placeholder: "Start date" %>
    <%= text_field_tag :date_end, placeholder: "End date" %>
    <span class="glyphicon glyphicon-star"></span><%= submit_tag "Search for journey" %>
  <% end %>

<%= render partial: "shared/div_footer" %>