<% if @medias.length == 0 %>
  <h2>This journey has no media!</h2>
<% end %>
<h1><%= @trip.title %></h1>
<p><%= @trip.description %></p>
<h3><%= @trip.date_start.to_time %> - <%= @trip.date_end.to_time %></h3>

<%= button_to "Delete Journey", trip_path, method: :delete, class: "btn btn-default" %><br><br>

<% @medias.each do |media| %>
  <img src="<%= media.thumbnail %>"><br>
  <p>Created at: <%= media.date_taken %></p>
  <%= button_to "Edit media", edit_trip_media_path(@trip, media), method: :get, class: "btn btn-default" %>
  <%= button_to "Delete media", trip_media_path(@trip, media), method: :delete, class: "btn btn-default" %>
<% end %>  