<%= render partial: "shared/center_col_header" %>

<h1 class="text-center">Browse journeys</h1>

<% @trips_arr.each do |trip| %>
  <ul>
    <h3><%= trip["trip"].title %></h3>
    <li><%= trip["trip"].date_start %></li>
    <li><%= trip["trip"].date_end %></li>
    <li><%= trip["trip"].description %></li>
    <% if trip["rand_img"] %>
    <!-- random image from media for this trip -->
      <li><img src ="<%= trip['rand_img'] %>"</li>
    <% end %>
  </ul><br>
<% end %>

<%= render partial: "shared/div_footer" %>