<br>
<br>
<div class="container">

<h2 class="insta text-center">Browse journeys</h2>
<br>
<br>
<div class="all" style= "border-radius: 1%;">
<div class="row">
<% @trips_arr.each do |trip| %>
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
  <ul>
    <h3><%= trip["trip"].title %></h3>
    <li><%= trip["trip"].date_start %></li>
    <li><%= trip["trip"].date_end %></li>
    <li><%= trip["trip"].description %></li>
    <% if trip["rand_img"] %>
    <!-- random image from media for this trip -->
      <li><img src ="<%= trip['rand_img'] %>"</li>
</div>
    <% end %>
  </ul><br>
<% end %>
</div>
</div>
</div>