
<body class="body-background">
  <div class="container">
    <div role="form" class="col-lg-4 col-lg-offset-4">
      <br>
      <br>
      <h2 class="text-center acct">Welcome back.</h2><br>
      
      <div role="form">
        <%= render partial: "shared/flash" %><br>
        <div>
          <%= link_to "Not a member? Sign up!", new_user_path, class: "text-center" %> <br><br>
          <%= form_for @user, url: login_path do |f| %>
          <%= f.text_field :email, placeholder: "email", class: "form-control", autofocus: true %>
          <%= f.password_field :password, placeholder: "password", class: "form-control" %>
          <%= f.submit "Go", class: "btn btn-default form-control" %>
          <%= link_to "Forgot your password?", new_password_path   %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>


<%= render partial: "shared/div_footer" %>

