<%= render partial: "shared/center_col_header" %>
  <h2 class="text-center">Login</h2><br>
  <div class="row">
    <!-- <div class="form-horizontal"> -->
      <div class="input-group">
        <%= form_for :user do |f| %>
          <%= f.text_field :email, placeholder: "email", class: "form-control", autofocus: true %>
          <%= f.password_field :password, placeholder: "password", class: "form-control" %>
          <span class="input-group-btn"><%= f.submit "Go", class: "btn btn-default", type: "button" %></span>
        <% end %>
      </div>
    <!-- </div> -->
  </div>

  <%= link_to "Forgot your password?", new_password_path   %>

<%= render partial: "shared/div_footer" %>