<%= render partial: "shared/center_col_header" %>
  <h2 class="text-center">Login</h2><br>
  <%= link_to "Sign up!", new_user_path, class: "text-center" %>
  <div role="form" class="row"><br>
    <!-- <div class="form-horizontal"> -->
      <div class="form-group-horizontal">
        <%= form_for :user do |f| %>
          <%= f.text_field :email, placeholder: "email", class: "form-control", autofocus: true %>
          <%= f.password_field :password, placeholder: "password", class: "form-control" %>
          <%= f.submit "Go", class: "btn btn-default form-control" %>
        <% end %>
      </div>
    <!-- </div> -->
  </div>

  <%= link_to "Forgot your password?", new_password_path   %>

<%= render partial: "shared/div_footer" %>