<body class="background-trips">
    <br><br><h2 class="insta text-center"><%= @user.name %></h2>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: "#{name} flash" %><br>
    <% end %><br>
    <!-- <p><img src= "<%= @user.img %>"></p> -->

    <% if @current_user[:id] == @user[:id] %>
      <a href="/trips/new"><h3 class="text-center">Create a new journey!</h3></a><br><br>
    <% end %>

<div class ="container">
  <br>
  <div class = "all" style = "border-radiusL 1%;">
  <div class ="row">
    <% @trips_arr.each do |trip| %>  
  <div class="col-lg-3">
      <h3 class="text-center"><%= trip["trip"]["title"] %></h3>
   <!--    <li class="text-center"><%= trip["trip"]["date_start"] %> - <%= trip["trip"]["date_end"] %></li> -->
      
      <% if trip["rand_img"] %>
        <!-- random image from media for this trip -->
    
            <a href="/trips/<%= trip['trip']['id'].to_s %>">
              <img src ="<%= trip['rand_img'] %>" class="item-center text-center" style= "border-radius: 4%; width: 187px; height: 150px;">
            </a>
        
      <% end %>
      <% if @user.id == @current_user.id %>
        <%= button_to "Edit trip", edit_trip_path(trip["trip"]), method: :get, class: "text-center" %>
      <% end %>
    <% end %><br><br>

</div>
</div>
</div>
</body>