
<body class="tripbody">
  <div class="col-lg-4 col-lg-offset-4">
    <br><br><h2 class="text-center"><%= @user.name %></h2>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: "#{name} flash" %><br>
    <% end %><br>
    <!-- <p><img src= "<%= @user.img %>"></p> -->
    <ul>
    <% if @current_user[:id] == @user[:id] %>
      <a href="/trips/new"><h3 class="text-center">Create a new journey!</h3></a><br><br>
    <% end %>
    <% @trips_arr.each do |trip| %>

      <h3 class="text-center"><%= trip["trip"]["title"] %></h3>
      <li class="text-center"><%= trip["trip"]["date_start"] %> - <%= trip["trip"]["date_end"] %></li>
      
      <% if trip["rand_img"] %>
        <!-- random image from media for this trip -->
          <li>
            <a href="/trips/<%= trip['trip']['id'].to_s %>">
              <img src ="<%= trip['rand_img'] %>" class="item-center text-center">
            </a>
          </li>
      <% end %>
      
      <% if @user.id == @current_user.id %>
        <%= button_to "Edit trip", edit_trip_path(trip["trip"]), method: :get, class: "text-center" %>
      <% end %>

    <% end %><br><br>
    </ul>
  </div>
</body>