<!DOCTYPE html>
<html>
<head>
  <title>Explorify</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
   <!-- Latest compiled and minified JavaScript -->
  <link href='http://fonts.googleapis.com/css?family=Sanchez:400italic,400' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Cardo:400,400italic,700' rel='stylesheet' type='text/css'>
</head>
<body>


<body id="page-top">

  <div class="container">
 
    <%= render "/shared/center_col_header" %>

    <!-- This is here to lower the body of the page so that it does not overlap with the nav bar -->
    <div class="spacer"></div>

    <%= yield %>

  </div>
</body>
</html>
